<html>
<head>
  <title>devQueries</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <link rel="stylesheet" href="/stylesheets/app.css">

<style>
.forum{
  align-items:right;

}

</style>



  </head>
  <body>
    <div  class="ui fixed inverted menu">
      <div class="ui container">
        <div class="header item"><i class="code icon"></i>devQueries</div>
        <a href="/" class="item">Home </a>
        <a href="/blogs/new" class="item">Contribute </a>
        <a href="/forums" class="item">Q/A Forum</a>
        <a href="/login" class="item" style="">Login </a>
        <a href="/signup" class="item">Sign Up</a>

        </div>
        </div>
