<% include ./partials/header %>
<div class="ui main text container segment">
  <div class="ui huge header">Login To Continue...</div>
  <form class="ui form" action="/login" method="POST">
    <div class="field">
      <label>Username</label>
      <input type="text" name="" placeholder="username">
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password" name="" placeholder="password">
        </div>
  <input type="submit" class="ui violet basic button">
          </form>
          <p class="lead mt-4">No Account? <a href="/signup">SignUp Now. </a></p>

          </div>
