
<% include ./partials/header %>
<div class="ui main text container segment">
  <div class="ui huge header">Signup To Your Account...</div>
  <form class="ui form" action="/signup" method="POST">
    <div class="field">
      <label>Username</label>
      <input type="text" name="" placeholder="username">
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password" name="" placeholder="password">
        </div>
  <input type="submit"  name="Submit" class="ui violet basic button">
          </form>
          <p class="lead mt-4">Have An Account? <a href="/login">Login </a></p>
          </div>
<% include ./partials/footer %>
